:root {
  --black: #000000;
  --white: #FFFFFF;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --header-nav: #32425C;
  --header-top: #293449;
  --background-head: #F9F5F0;
  --background-delivery: #FFC047;
  --background-medium-color-slide: #917f6e;
  --background-svg-social: #212A3A;
  --background-head-sort:#F2F6F8;
  --background-sort: #F7F3EC;
  --background-darkgrey:#ABABAB;
  --background-popup-basket: #F1F1F1;
  --background-bottom-head-bar:rgba(0, 0, 0, 0.0001);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-grey: #C1C6CE;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-white: rgba(255, 255, 255, 0.3);
  --special-greylight: rgba(197,197,197,0.3);
  --special-greydark: rgba(169,169,169,0.3);
  --success: #5FBB2D;
  --error: #BA2732;
  --border: #EAEAEA;
  --border-send-form: #E5E5E5;
  --header-nav-active: #161D29;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --shadow-logo:inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  --shadow-slider-service-active: 0px 1px 0px #FFFFFF;
  --shadow-slider-service-no-active:0px 1px 0px #293449, inset 0px 1px 0px #405069;
  --shadow-header-nav: inset 0px -5px 0px #293449;
  --shadow-product-buy: inset 0px -3px 0px #367315;
  --sale: #A9A9A9;
  --footer-special-white-address: #F3F7F9;
  --footer-special-white-nav: #F1F5F7;
  --footer-special-beige: #FFD180;
  --hover-header-nav:#293449;
  --hover-button: #CA2C37;
  --active-header-nav: #1D2739;
  --active-button: #BA2732;
  --cart-btn: #518534;
}

.page {
  height: 100%;
}


.page-body{
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header{
  background: var(--light-grey);
  color: var(--white);
  display: grid;

}

.top-head-bar{
  background: var(--header-top);
}

.top-head{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-logo-header{
  background: var(--basic-red);
  box-shadow: var(--shadow-logo);
  padding: 12px 56px 17px 56px;
  display: inline-block;
}

.searching{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--header-top);
  border: none;
}

.svg-search{
  fill: var(--white);
  opacity: 0.3;
}

.searching::placeholder {
  color: var(--white);
}

.search-label:hover .svg-search {
  opacity: 1;
}

.search-label:active .search::placeholder{
  opacity: .5;
}

.search-label:active .svg-search{
  opacity: .5;
}

.searching:focus{
  color: var(--black);
  background-color: var(--white);
}

.searching:focus + .svg-search{
  fill: var(--basic-red);
}

.list-header{
  list-style: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.item-header{
  color: var(--white);
}

.arrange-order{
  background: var(--basic-green);
}

.about-company-head{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.bottom-head-bar{
  background: var(--background-bottom-head-bar);
}

.activity{
  color: var(--basic-red);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.phone-header{
  color: var(--basic-red);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  position: relative;
}

.phone-wrapper-header{
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.address-header{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--header-nav);
}

.login{
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.enter{
  color: var(--black);
  background: var(--white);
}

.registration{
  color: var(--black);
  background: var(--white);
}

.nav-head{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-header{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background: var(--header-nav);
}

.nav-list{
  list-style: none;
  box-shadow: var(--shadow-header-nav);
  margin: 0;
  padding: 0;
}

.nav-link{
  color: var(--white);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo-list-text{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  list-style: none;
  color: var(--white);
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.promo-item{
  width: 300px;
  height: 123px;
}

.material-item{
  background: var(--special-yellow);
  position: relative;
}

.material-item::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-1.svg");
  top: 0;
  left:0;
  width: 44px;
  height: 65px;
}

.instrument-item{
  background: var(--special-blue);
  position: relative;
}

.instrument-item::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-2.svg");
  top: 0;
  left: 0;
  width: 75px;
  height: 61px;
}

.cars-item{
  background: var(--special-lilac);
  position: relative;
}

.cars-item::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-3.svg");
  top: 0;
  left: 0;
  width: 78px;
  height: 62px;
}

.sale-item{
  background: var(--special-greenlight);
  position: relative;
}

.sale-item::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-4.svg");
  top: 0;
  left: 0;
  width: 59px;
  height: 72px;
}

.delivery-item{
  background: var(--background-delivery);
  position: relative;
}

.delivery-item::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-5.svg");
  top: 0;
  left: 0;
  width: 78px;
  height: 63px;
}

.wrapper-item{
  background: var(--special-white);
}

.promo-button{
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.promo-slider{
  grid-column: 1 / 3;
  grid-row: 2 / 4 ;
}

.slide-tools {
  background: var(--background-medium-color-slide);
}

.slide-head{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slide-text{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.button{
  background: var(--basic-red);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.button-border-none{
  border:none;
}

.button-price{
  background: var(--basic-red);
  color: var(--white);

  font-size: 17px;
  line-height: 18px;

}

.products-list{
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;

}


.popular-products{
  color: var(--header-nav);
  background: var(--background-head);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr auto;
}

.popular-products-header{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--header-nav);
  text-transform: uppercase;

}

.product-title{
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
}

.old-price{
  font-size: 17px;
  line-height: 18px;
  color: var(--sale);
}

.popular-producers-header{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--header-nav);
}

.popular-producers{
  background: var(--background-head);
  display: grid;
  grid-template-columns: 1fr auto;
}

.company-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.service{
  background: var(--basic-background);
}

.button-border-radius{
  border-radius: 2px;
  border: none;
}

.service-head{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-service:active {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--header-nav);
  background: var(--white);
  box-shadow: var(--shadow-slider-service-active);
}

.button-service:hover{
  background: var(--header-top);
}

.button-service{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background: var(--header-nav);
  box-shadow: var(--shadow-slider-service-no-active);
  display: block;
  border: none;
  position: relative;
}

.button-service::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/layer-118.svg");
  background: var(--white);
  opacity: .25;
  fill: var(--white);
  top: 0;
  left: 0;
  width: 10px;
  height: 279px;
}

.service-slider{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.service-slides{
  grid-column: 2 / 3;
}

.service-controls{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.service-slide{
  display: grid;
  grid-template-columns: 1fr;
}

.service-img{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.service-slide-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 1;
}

.service-header-text{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--header-nav);
  grid-column: 1 / 2;
  z-index: 1;
}

.button-service:focus{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--header-nav);
  background: var(--white);
  box-shadow: var(--shadow-slider-service-active);
  display: block;
}

.about-us{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.benefits-header{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.benefits-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.partners-delivery-item{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.contacts-header{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.contacts-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.footer-top{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background: var(--header-nav);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-logo{
  background: var(--basic-red);
  display: inline-block;
  box-shadow: var(--shadow-logo);
}

.footer-address{
  color: var(--footer-special-white-address);
}

.footer-phone{
  color: var(--footer-special-white-address);
}

.footer-nav-list{
  list-style: none;
}

.footer-nav-top{
  color: var(--footer-special-white-nav);
}

.footer-nav-bottom{
  color: var(--footer-special-beige);
}

.footer-bottom{
  background: var(--header-top);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-bottom-info{
  color: var(--white);
}

.footer-social-list{
  list-style: none;
}

.feedback{
  color: var(--white);
}

.feedback-link{
  color: var(--footer-special-beige);
}

.feedback,
.feedback-link{
  grid-column: 3 / 4;
}

.producer,
.producer-link{
  grid-column: 4 / 5;
}

.producer{
  color: var(--white);
}

.producer-link{
  color: var(--footer-special-beige);
}

.popup-feedback{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.placeholder-popup{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.border-label-popup-feedback{
  background: var(--white);
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.item-link::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  opacity: .3;
  fill: var(--white);
}

.bookmark::before{
  top: 1px;
  left: 1px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-bookmark.svg");
}

.bookmark:hover::before{
  opacity: 1;
}

.cart::before{
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/cart.svg");
}

.cart:hover::before{
  opacity: 1;
}

.bookmark:active::before,
.cart:active::before{
  opacity: .3;
}

.item-header:active{
  background: var(--header-nav-active);
}

.arrange-order:hover{
  background: var(--success);
}

.arrange-order:active{
  background: var(--basic-green);
}

.item-link{
  color: var(--white);
  position: relative;
}

.phone::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-phone.svg");
  opacity: .3;
  fill: var(--white);
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
}

.enter:hover,
.registration:hover{
  color: var(--basic-red);
}

.login-svg{
  fill: var(--basic-greylight);
}

.enter:hover .login-svg{
  fill: var(--basic-grey);
  opacity: 1;
}

.enter:active,
.registration:active{
  color: var(--basic-greylight);
}

.enter:active .login-svg{
  fill: var(--basic-greylight);
  opacity: 1;
}

.nav-item:hover{
  background: var(--header-top);
}

.nav-item:active{
  background: var(--active-header-nav);
}

.wrapper-item:hover{
  background: var(--special-greylight);
}

.wrapper-item:active{
  background: var(--special-greydark);
}

.button:hover{
  background: var(--hover-button);
}

.button:active{
  background: var(--active-button);
}

.cart-btn::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/cart.svg");
  opacity: .3;
  fill: var(--white);
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}

.cart-btn{
  background: var(--basic-green);
  border-radius: 2px;
  box-shadow: var(--shadow-product-buy);
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.cart-btn:hover{
  background: var(--success);
}

.cart-btn:active{
  background: var(--cart-btn);
}

.bookmarks-btn:hover{
  border: 3px solid var(--header-nav);
}

.bookmarks-btn:active{
  opacity: .5;
}

.bookmarks-btn{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--header-nav);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.company-link{
  background: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav-footer-link:hover{
  text-decoration-line: underline;
}

.nav-footer-link:active{
  opacity: 0.5;
}

.producer-link:hover,
.feedback-link:hover{
  text-decoration-line: underline;
}

.producer-link:active,
.feedback-link:active{
  color: var(--basic-red);
  text-decoration-line: none;
}

.svg-social{
  fill: var(--background-svg-social);
}

.footer-social-link:hover .svg-social,
.footer-social-link:active .svg-social{
  fill: var(--basic-red);
}

.small-map{
  background: var(--background-medium-color-slide);
}

/* CATALOG*/
.cart-mark{
  background: var(--basic-red);
}

.user-profile{
  color: var(--black);
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.icon-user-profile{
  fill: var(--basic-greylight);
}

.user-profile:hover  .icon-user-profile{
  fill: var(--basic-grey);
}

.user-profile:active{
  fill: var(--basic-greylight);
  color: var(--basic-greylight);

}

.user-profile:active .icon-user-profile{
  fill: var(--basic-greylight);
}

.log-out{
  fill: var(--basic-greylight);
}

.log-out:hover{
  fill: var(--basic-grey);
}

.log-out:active{
  fill: var(--basic-greylight);
}

.account-link{
  color: var(--header-nav);
  position: relative;
}

.account-link:hover{
  color: var(--basic-red);
}

.account-link:active{
  color: var(--basic-greylight);
}

.account-item{
  position: relative;
}

.account-item::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--header-nav);
  border-radius: 50%;
  top: 10px;
  left: 65px;
}

.account-item:hover::after{
  background-color: var(--basic-red);
}

.account-item:hover .account-link{
  color: var(--basic-red);
}

.account-item:active::after{
  background-color: var(--basic-greylight);
}

.account-item:active .account-link{
  color: var(--basic-greylight);
}

.account-item:last-child::after{
  display: none;
}

.account-link:hover{
  color: var(--basic-red);
}

.account-link:active{
  color: var(--basic-greylight);
}

.icon-point{
  fill: var(--header-nav);
}

.account-list:hover .icon-point{
  fill: var(--basic-red);
}

.account-list:active .icon-point{
  fill: var(--basic-greylight);
}

.main-catalog{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.crumbs-list{
  color: var(--black);
  list-style: none;
  text-transform: uppercase
}

.crumbs-link{
  color: var(--black);
}

.crumbs-item{
  position: relative;
}

.crumbs-item::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/icon/shape.svg);
  top: 0;
  left: 0;
  width: 8px;
  height: 12px;

}

.home-page{
  position: relative;
}

.home-page::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-home.svg");
  opacity: 1;
  top: 0;
  left: 0;
  width: 14px;
  height: 12px;
}

.page-title{
  font-family: Cuprum,Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--header-nav);
  background: var(--background-head-sort);
}

.filter-head,
.sort-head{
  background: var(--background-sort);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.filter-price{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.range-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 21px;
  width: 218px;
  height: 36px;
  background: var(--background-sort);
  border-radius: 0;
}

.range-slider-bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--background-sort);
}

.range-slider-progress {
  position: absolute;
  height: 100%;
  background-color: var(--success);
}

.range-slider-toggler{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--background-darkgrey);
  border: 8px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.filter-write-price{
  background: var(--background-sort);
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  border: 0 solid var(--white);
}

.filter-producer,
.filter-power{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase
}

.filter-producer-list,
.filter-power-list{
  list-style: none;
}

.filter-producer-item,
.filter-power-item{
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase
}

.button-send-form{
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background: var(--white);
  border: 1px solid var(--border-send-form);
  box-sizing: border-box;
}

.sort-list{
  list-style: none;
  background: var(--background-sort);
}

.sort-link{
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
  color: var(--black);
  text-transform: uppercase
}

.sort-link:hover{
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-red);
}

.sort-link:focus,
.sort-link-current{
  color: var(--basic-red);
  border-bottom: 1px solid var(--background-sort);
  opacity: 1;
}

.sort-arrow-list{
  list-style: none;
}

.sort-arrow-link{
  fill: var(--basic-greylight);
}

.-sort-arrow-link:hover{
  fill: var(--black);
}

.sort-arrow-link:focus{
  fill: var(--basic-red);
}

.rotate{
  transform: rotate(180deg);
}

.page-catalog-list{
  list-style: none;
}

.page-catalog-link{
  color: var(--black);
  border: 1px solid var(--border-send-form);
  box-sizing: border-box;
  border-radius: 2px;
}

.page-catalog-link:hover{
  border: 1px solid var(--basic-greylight);
}

.page-catalog-link:focus,
.page-catalog-link:active{
  border: 1px solid var(--basic-red);
}

.page-catalog-current-link{
  border: 1px solid var(--basic-red);
  background: var(--basic-red);
  color: var(--white);
  border-radius: 2px;
}

.product-description{
  background: var(--basic-background);
}

.product-description-head{
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.product-description-text{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.button-popup-basket{
  color: var(--black);
  background: var(--white);
  border: none;
}

.buttons-popup-basket{
  background: var(--background-popup-basket);
}

.popup-basket-text{
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.popup-basket-text::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon/icon-mark.svg");
  opacity: 1;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
}


