/* Variables */
:root {
  --black: #000000;
  --white: #FFFFFF;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --header-nav: #32425C;
  --header-top: #293449;
  --background-head: #F9F5F0;
  --background-delivery: #FFC047;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-white: rgba(255, 255, 255, 0.3);
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --border: #EAEAEA;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --shadow-logo:inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  --shadow-slider-service-active: 0px 1px 0px #FFFFFF;
  --shadow-slider-service-no-active:0px 1px 0px #293449, inset 0px 1px 0px #405069;
  --sale: #A9A9A9;

}

.page-body{
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header{
  background: var(--light-grey);
  color: var(--white);
}

.top-head{
  background: var(--header-top);
}

.main-header-logo{
  background: var(--basic-red);
  box-shadow: var(--shadow-logo);
  display: block;
  padding: 12px 56px 17px 56px;
}

.search{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--header-top);
  border: none;
}
.search::placeholder {
  color: var(--white);
}

.list-header{
  list-style: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header-link {
  color: var(--white);
}

.arrange-order{
  background: var(--basic-green);
}

.activity{
  color: var(--basic-red);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.header-phone{
  color: var(--basic-red);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-phone-wrapper{
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.header-address{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--header-nav);
}

.login{
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.enter{
  color: var(--black);
  background: var(--white);
}

.registration{
  color: var(--black);
  background: var(--white);
}

.header-nav{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background: var(--header-nav);
}

.list-nav{
  list-style: none;
}
.nav-link{
  color: var(--white);
}

.promo-text-list{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  list-style: none;
  color: var(--white);
}

.item-material{
  background: var(--special-yellowlight);
}

.item-instrument{
  background: var(--special-blue);
}

.item-cars{
  background: var(--special-lilac);
}

.item-sale{
  background: var(--special-greenlight);
}

.item-delivery{
  background: var(--background-delivery);
}

.promo-button{
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.item-wrapper{
  background: var(--special-white);
}

.slide-head{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  background: var(--black); /* задал временно чтобы видеть что оно там есть, потом удалить*/
  text-transform: uppercase;
}

.slide-text{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--black); /* задал временно чтобы видеть что оно там есть, потом удалить*/
}

.button{
  background: var(--basic-red);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  display: block;
  text-transform: uppercase;
}

.button-price{
  background: var(--basic-red);
  display: block;

}

.list-popular-product{
  list-style: none;
}
.popular-products{
  color: var(--header-nav);
  background: var(--background-head);
  text-transform: uppercase;
}

.header-popular-products{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--header-nav);
  text-transform: uppercase;

}

.link-popular-product{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
}

.sale-popular-product{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--sale);
}

.header-popular-producers{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--header-nav);
}

.popular-producers{
  background: var(--background-head);
}

.company{
  list-style: none;
}

.service{
  background: var(--basic-background);
}

.head-service{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-service-delivery{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--header-nav);
  background: var(--white);
  box-shadow: var(--shadow-slider-service-active);
  display: block;
}

.button-service{
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background: var(--header-nav);
  box-shadow: var(--shadow-slider-service-no-active);
  display: block;
}

.slide-text-service{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.header-text-service{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--header-nav);
}

.header-benefits{
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-benefits{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

/*кароч ебать надо доебашить шрифты в популярных товарах, в пиздющных текстах снизу*/
